<div>
  <table class="table table-striped">
    <tr>
      <th>Period</th>
      <th>Spending Limit</th>
      <th>Total Spent</th>
      <th>Overspent?</th>
    </tr>
    <% @budgets.each do |budget| %>
      <tr>
        <td><a href="budget/<%= budget.id %>"><%= "From #{budget.from_date} to #{budget.to_date}" %></a></td>
        <td><%= "£ #{budget.spending_limit}" %></td>
        <td><%= "£ #{budget.total_spending}" %></td>
        <td><%= budget.overspent ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </table>
</div>
